.btn{
    padding: 12px 26px;
    background: $main-color;
    text-align: center;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    text-decoration: none;
    font-size: 14px;
    line-height: 21px;
    color: #000000;
    font-weight: 700;
   
    &_transp{
        background: transparent;
        box-shadow: none;
        padding-right: 0;
    }
    
}